* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 4px solid black;
}

header {
    background-color: rgb(60, 60, 250);
    text-align: center;
    height: 6rem;
    padding: 20px;
    border: 7px solid black;
}

nav {
    background-color: rgb(48, 216, 216);
    height: 5rem;
    padding: 20px;
    text-align: center;
}

.content {
    display: flex;
    flex-grow: 1;
    width: 100%;
}

.section {
    display: flex;
    flex-direction: column;
    width: 70%;
    border: 5px solid black;
    padding: 10px;
    background-color: rgb(216, 190, 40);
    text-align: center;
    justify-content: space-around;
}

aside {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    width: 30%;
    border: 5px solid black;
    padding: 10px;
    justify-content: space-around;
}


article {
    background-color: rgb(221, 116, 104);
    padding: 10px;
    border: 7.5px solid black;
    height: 4rem;
    text-align: center;
}

footer {
    background-color: rgb(60, 60, 250);
    text-align: center;
    height: 6rem;
    padding: 10px;
    border: 5px solid black;
}

.main-nav {
    border: 4px solid black;
}